/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0px;
  padding: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --gradient-color: linear-gradient(
    90deg,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
  --form-control-color: #ffffff;
  --form-control-disabled: #959495;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* ----- Fonts ----- */
@font-face {
  font-family: "TTCommons-Demibold";
  src: url("../fonts/TTCommons-DemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TTCommons-medium";
  src: url("../fonts/TTCommons-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TTCommons-ligh";
  src: url("../fonts/TTCommons-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Pragmatica-black";
  src: url("../fonts/Pragmatica-Black.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Pragmatica-medum";
  src: url("../fonts/Pragmatica-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

/* -------- -------- */

.upScrollBtn {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: fixed;
  border-radius: 50%;
  bottom: 15px;
  right: 15px;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  background: rgb(63, 15, 114);
  background: -o-linear-gradient(
    left,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, rgba(63, 15, 114, 1)),
    to(rgba(121, 18, 129, 1))
  );
  background: linear-gradient(
    90deg,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
  z-index: 2;
}

.upScrollBtn:hover {
  -webkit-box-shadow: 4px 4px 22px 14px rgba(121, 18, 129, 0.2);
  box-shadow: 4px 4px 22px 14px rgba(121, 18, 129, 0.2);
  text-shadow: 0px 0px 6px #ffffff;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

/* ----- First Section ----- */

.mainSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: #040b2a;
  background-image: url("../images/mainSection.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 45px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 7%;
}

.header__firstPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45%;
}

.header__logo {
}

.header__navigation {
  display: block;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 365px;
}

.header__info span {
  cursor: default;
  color: #ffffff;
}

.header__info-phone {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  font-family: "TTCommons-medium";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__info-phone::before {
  content: url("../images/phone_icon.png");
}

.header__info-mail {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 182px;
  font-family: "TTCommons-medium";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__info-mail::before {
  content: url("../images/mail_icon.png");
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__list li {
  font-family: "TTCommons-Demibold";
  width: 100px;
}

.navigation__list li a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navigation__list li :hover {
  text-decoration: none;
  color: #7e779a;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mainSection__content {
  cursor: default;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  margin-bottom: 25px;
  width: auto;
}

.mainSection__content-block {
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 65vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mainSection__content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainSection__content-main span {
  color: #7e779a;
  font-size: 18px;
  font-family: "Pragmatica-medum";
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.mainSection__content-main div {
  font-size: 64px;
  font-family: "TTCommons-Demibold";
  font-weight: 700;
  line-height: 70px;
  max-width: 745px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainSection__content-main button {
  width: 333px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 45px;
  line-height: 14px;
  font-family: "TTCommons-Demibold";
  font-weight: 600;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 30px;
  background: rgb(63, 15, 114);
  background: -o-linear-gradient(
    left,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, rgba(63, 15, 114, 1)),
    to(rgba(121, 18, 129, 1))
  );
  background: linear-gradient(
    90deg,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainSection__content-main button a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mainSection__content-main button:hover {
  -webkit-box-shadow: 4px 4px 22px 14px rgba(121, 18, 129, 0.2);
  box-shadow: 4px 4px 22px 14px rgba(121, 18, 129, 0.2);
  text-shadow: 0px 0px 6px #ffffff;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.mainSection__footer {
  padding: 15px 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
}

.mainSection__footer span {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.mainSection__footer-partners {
  font-family: "TTCommons-Demibold";
  font-weight: 400;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainSection__footer-bitrix {
  font-size: 17px;
  font-weight: 600;
}

.mainSection__footer-bitrix {
}

.mainSection__footer-bitrix::before {
  content: url("../images/bitrix24_logo.png");
}

.mainSection__footer-bitrix1c {
  font-size: 17px;
  font-weight: 600;
}

.mainSection__footer-bitrix1c::before {
  content: url("../images/1C_bitrix_logo_before.png");
}

.mainSection__footer-bitrix1c::after {
  content: url("../images/1C_bitrix_logo.png");
}

/* ----- Second Section ----- */

.secondSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

.secondSection__content {
  position: relative;
  cursor: default;
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: auto;
}

.secondSection__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(50% - 20px);
}

.secondSection__content-info h2 {
  font-family: "TTCommons-Demibold";
  font-size: 48px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
}

.secondSection__content-info-title {
  font-family: "TTCommons-Demibold";
  font-size: 48px;
}

.secondSection__content-info-text-title {
  font-family: "TTCommons-Demibold";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333333;
}

.secondSection__content-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "TTCommons-ligh";
  font-size: 22px;
  color: #333333;
}

.secondSection__content-info-text-imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.secondSection__content-info-pic1 {
  width: calc(50% - 20px);
  max-height: 296px;
  max-width: 370px;
}

.secondSection__content-info-pic2 {
  width: calc(50% - 20px);
  max-height: 296px;
  max-width: 370px;
}

.secondSection__content-pic {
  width: calc(50% - 20px);
  max-height: 770px;
  max-width: 730px;
}

/* ----- Third Section ----- */

.thirdSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f6f4f9;
}

.thirdSection__content {
  position: relative;
  cursor: default;
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.thirdSection__content h2 {
  font-family: "TTCommons-Demibold";
  font-size: 48px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
}

.thirdSection__content-title {
  font-family: "Pragmatica-medum";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #777777;
}

.thirdSection__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.thirdSection__content-list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: calc(25% - 30px);
  min-width: 305px;
  margin: 35px 0 15px 0;
  border-radius: 10px;
  height: 120px;
  color: #333333;
  background-color: #ffffff;
  font-family: "Pragmatica-medum";
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.thirdSection__content-list div a {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: rgb(63, 15, 114);
  background: -o-linear-gradient(
    left,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, rgba(63, 15, 114, 1)),
    to(rgba(121, 18, 129, 1))
  );
  background: linear-gradient(
    90deg,
    rgba(63, 15, 114, 1) 25%,
    rgba(121, 18, 129, 1) 100%
  );
}
/* ----- Fourth Section ----- */

.fourthSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

.fourthSection__content {
  position: relative;
  cursor: default;
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.fourthSection__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
  margin-top: 45px;
}

.fourthSection__content h2 {
  font-family: "TTCommons-Demibold";
  font-size: 48px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
}

.fourthSection__content span {
  font-family: "Pragmatica-medum";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #777777;
}

/* ----- slider ----- */

.slideContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.slideContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  background-color: #f6f4f9;
  border-radius: 10px;
  margin: 0 15px;
}

.slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 215px;
  padding: 25px 25px 15px 25px;
}

.slide__info-title {
  font-family: "TTCommons-Demibold";
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
}

.slide__info-text {
  font-size: 15px !important;
  line-height: 25px !important;
}

.slide__info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 2px solid #eae8ec;
  height: 35px;
}

.slide__info-footer-date {
  position: relative;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.slide__info-footer-date::before {
  position: absolute;
  content: url("../images/calendar_icon.png");
  left: -20px;
  top: 2px;
}

.slide__img-astronaut {
  height: 235px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-image: url("../images/astronaut_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.publicationsCarousel {
  padding: 0 7%;
  overflow: hidden;
}

.carousel {
  background: #ffffff;
}

.flickity-viewport {
  border-radius: 10px;
  height: 500px !important;
}

.carousel-cell {
  width: 66%;
  height: 500px;
  position: relative;
  margin-right: 10px;
  background: transparent;
  border-radius: 10px;
  counter-increment: carousel-cell;
}

/*----- Last Section -----*/

.lastSection {
  min-height: 100vh;
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #090b32;
  background-image: url("../images/lasSection_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.lastSection__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 45px 0 45px 0;
}

.lastSection__footer {
  border-top: 1px solid #ffffff;
  width: 100%;
  height: 80px;
}

.lastSection h2 {
  color: #ffffff;
  font-family: "TTCommons-Demibold";
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
}

.lastSection__info {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.lastSection__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-top: 25%;
}

.lastSection__info-container__socials {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -140px;
  top: 45%;
}

.lastSection__info-container__socials small {
  color: #ffffff;
}

.lastSection__info-container__socials a {
  font-family: "TTCommons-Demibold";
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.lastSection__info-container__socials a:hover {
  color: #7e779a;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.lastSection__info-container__socials a small {
  font-size: 35px;
}

.lastSection__info span {
  color: #7e779a;
  font-family: "Pragmatica-medum";
  font-size: 18px;
  line-height: 26px;
}

.lastSection__info-text {
  margin-bottom: 25px;
}

.lastSection__info-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lastSection__info-mail span {
  color: #ffffff !important;
  font-family: "TTCommons-Demibold" !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  line-height: 25px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.lastSection__info-text span {
  color: #7e779a;
  font-family: "Pragmatica-medum";
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
}

.lastSection__info-text div {
  color: #ffffff;
  margin-top: 10px;
  font-family: "TTCommons-Demibold";
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
}

.lastSection__form {
  width: 50%;
}

.lastSection__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lastSection__form-input {
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #473e69;
  height: 52px;
  font-family: "Pragmatica-medum";
  font-size: 16px;
  font-weight: 300;
  line-height: 19.14px;
  padding: 0 0 0 20px;
}

.lastSection__form form textarea {
  border-radius: 4px;
  font-family: "Pragmatica-medum";
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid #473e69;
  color: #ffffff;
  resize: none;
  margin-top: 25px;
}

.lastSection__form form label {
  color: #807d8d;
  font-family: "Pragmatica-medum";
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 2px;
}

.lastSection__form form span {
  color: #ffffff;
  font-family: "Pragmatica-medum";
}

.lastSection__form__checkbox-withButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Pragmatica-medum";
  color: #7e779a !important;
  font-size: 12px;
  line-height: 14px;
  margin-top: 40px;
  font-weight: 400;
}

.lastSection__form__checkbox-withButton a {
  color: #7e779a;
  margin: 0 5px 0 5px;
}

.lastSection__form__checkbox {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lastSection__form__checkbox input {
  margin-right: 15px;
}

.lastSection__form__checkbox a {
  color: #ffffff;
  margin-left: 5px;
  margin-right: 15px;
}

.lastSection__form form button {
  margin-left: 25px;
  font-family: "TTCommons-medium";
  height: 56px;
  width: 245px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  padding: 15px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 35px;
  background: var(--gradient-color);
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.lastSection__form form button::before {
  content: "Отправить заявку";
  position: absolute;
  padding-top: 22px;
  font-size: 16px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #090b32;
  border-radius: 35px;
}

.lastSection__form form button:hover {
  -webkit-box-shadow: 4px 4px 22px 14px rgba(121, 18, 129, 0.2);
  box-shadow: 4px 4px 22px 14px rgba(121, 18, 129, 0.2);
  text-shadow: 0px 0px 6px #ffffff;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem !important;
  font-weight: bold;
  line-height: 1.1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 0.5em auto;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  -webkit-transform: translateY(-0.075em);
  -ms-transform: translateY(-0.075em);
  transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  -o-transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkboxTitle {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
